<div id="stats"></div>
<div class="header">ID: {{mainService.world.id}} | <input type="text" [(ngModel)]="mainService.world.name" ></div>
<app-command-bar class="row"></app-command-bar>
<div class="row">
    <input type="button" 
        value="{{tickService.isRunning?'stop':'start'}}" 
        (click)="tickService.isRunning?tickService.stop():tickService.start()">
    Ticks:{{tickService.ticks}} | Time:{{ timeService.elapsedTime }}
    <input type="range" min="0.5" max="20" step="0.5" [(ngModel)]="tickService.speed">
    speed: x{{tickService.speed}}
    updateTime:{{tickService.updateTime}} 

</div>
<app-dialogs></app-dialogs><br>
<input type="checkbox" [(ngModel)]="showWorld">Show World 
<app-input-widget></app-input-widget>minCreatureCount: <input type="number" [(ngModel)]="mainService.world.minCreatureCount"> 
<div class="world" *ngIf="showWorld">
    <app-tileMap-canvas [tileMap]="mainService.world.tileMap"></app-tileMap-canvas>
    <app-creatures-canvas [creatures]="mainService.world.creatures" (selectcreature)="mainService.selectCreature($event)"></app-creatures-canvas>
</div>
<app-world-info [world]="mainService.world" class="world-info"></app-world-info>
<app-creature-info [creature]="mainService.world.inspectedCreature" class="creature-info"></app-creature-info>

