<div id="stats"></div>
<div class="header">ID: {{mainService.world.id}} | <input type="text" [(ngModel)]="mainService.world.name" ></div>
<app-command-bar class="row"></app-command-bar>
<div class="row">
    <input type="button" 
        value="{{tickService.isRunning?'stop':'start'}}" 
        (click)="tickService.isRunning?tickService.stop():tickService.start()">
    Ticks:{{tickService.ticks}} | 
    <input type="range" min="0.5" max="10" step="0.5" [(ngModel)]="tickService.speed">
    speed: x{{tickService.speed}}
    updateTime:{{tickService.updateTime}} 

</div>
<app-dialogs></app-dialogs><br>
<input type="checkbox" [(ngModel)]="showWorld">Show World<br>
<div class="world" *ngIf="showWorld">
    <app-tileMap [tiles]="mainService.world.tileMap.tiles" [rows]="mainService.world.tileMap.rowCount"></app-tileMap>
    <app-creature *ngFor="let creature of mainService.world.creatures" [creature]="creature"></app-creature>
</div>
<app-world-info [world]="mainService.world" class="world-info"></app-world-info>
<app-creature-info [creature]="mainService.inspectedCreature" class="creature-info"></app-creature-info>

