:host {
    display:block;
    position: relative;
    overflow: hidden; 
}

.detector {
    width:800px;
    height:800px;
    position: absolute;
    /* background: rgba(255,0,0,.3); */
    z-index: 1;
   
}

.view-port {
    width: 800px;
    height: 800px;
    transform-origin: 0 0;
}

.view-port_transition {
    transition: .4s all ease-out;
}