:host {
    display:block;
    position: relative;
   /* overflow: hidden; */
}

.detector {
    width:800px;
    height:800px;
    position: absolute;
    background: rgba(255,0,0,.3);
    z-index: 1;
    -webkit-user-drag: none;
   
}
.view-port {
    width: 800px;
    height: 800px;
    transform-origin: 0 0;
}