
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    margin:0;
    padding:0;
}

.global__header {
    font-style: italic;
}

.global__divider {
    margin-top:10px !important;
    margin-bottom:10px !important;
}
