:host {
    position: absolute;
}

.main {
    position: absolute;
}

.info {
    border:1px solid black;
    background:rgba(255,255,255,.6);
    padding: 20px;
    position: absolute;
    top:20px;
}

.neuron {
    cursor: pointer;
}

.creature {
    top:0;
    left:0;
    width:10px;
    height:10px;
    position: absolute;
    transform-origin: center;
}

.eye {
    width:2px;
    height:2px;
    background: black;
    position: absolute;
    top:0;
    z-index: 1;
}

.left{
    left:2px;
}

.right{
    right:2px;
}