<div class="main" [style.left]="creature.x+'px'" [style.top]="creature.y+'px'" (click)="showInfo=!showInfo">
    <div *ngIf="showInfo" class="info"> 
        ID: {{creature.id}} energy: {{formatterService.float(creature.energy)}}<br>
        <span class="neuron" (click)="getInfo(creature.inputFood)">
            InputFood: {{formatterService.float(creature.inputFood.input)}} >> {{formatterService.float(creature.inputFood.input)}}
        </span> <br>
        <span class="neuron" (click)="getInfo(creature.outEat)">
            OutEat: {{formatterService.float(creature.outEat.input)}} >> {{formatterService.float(creature.outEat.output)}}
        </span><br>
        <span class="neuron" (click)="getInfo(creature.outRotate)">
            OutRotate: {{formatterService.float(creature.outRotate.input)}} >> {{formatterService.float(creature.outRotate.output)}}
        </span>
     </div>
     <div class="creature" [ngStyle]="getCreatureStyle()">

     </div>
</div>
