:host {
}

.header {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info {
    width:330px;
}

.preview {
    width: 20px;
    height:20px;
}

.button-ok {
    margin-left: 50%;
    transform: translateX(-50%);
}

.small-button {
    color:blue;
    margin:10px;
    cursor:pointer;
    user-select: none;
}

.small-button:hover {
    color:darkblue;
}